
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CornBread</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="newcss.css"/>
</head>
<div class="page-header">
    <h1 class="text-center">Corn Bread Recipie<small></small></h1>
</div>
<div class="container">
        <img src="../static/cornbread.jpg" height="334" width="800"/>
</div>
<table width="50%" cellspacing="2" cellpadding="2" border="1" align="center" >
    <Caption>Ginger Ale Ingredients table</Caption>
    <tr> <th width="20%" height="40">Ingredients</th></tr>
    <tr> <td  width="20%" height="40">1 cup cornmeal</td></tr>
    <tr> <td  width="20%" height="40">3/4 cup all-purpose flour</td></tr>
    <tr> <td  width="20%" height="40">1 1/2 teaspoons baking powder</td></tr>
    <tr> <td  width="20%" height="40">1 tablespoon sugar</td></tr>
    <tr> <td  width="20%" height="40">1/2 teaspoon baking soda</td></tr>
    <tr> <td  width="20%" height="40">1/4 teaspoon salt</td></tr>
    <tr> <td  width="20%" height="40">2 large eggs, lightly beaten</td></tr>
    <tr> <td  width="20%" height="40">1 1/2 cups buttermilk</td></tr>


</table>
<div class="container">

    <div class="bs-callout bs-callout-info">
        <h2> Directions</h2>
        <p> Preheat the oven to 425 degrees F. Lightly grease an 8-inch baking dish.</p>
        <p> In a large bowl, mix together the cornmeal, flour, sugar, baking powder, baking soda, and salt.</p>
        <p> In a separate bowl, mix together the eggs, buttermilk, and butter. Pour the buttermilk mixture into the cornmeal mixture and fold together until there are no dry spots (the batter will still be lumpy). Pour the batter into the prepared baking dish.</p>
        <p> Bake until the top is golden brown and tester inserted into the middle of the corn bread comes out clean, about 20 to 25 minutes. Remove the cornbread from the oven and let it cool for 10 minutes before serving.</p>
    </div>
</div>

<div class="btn-group" role="group" aria-label="...">
    <p> <button type="button" class="/">Home</button> </p>
    <p> <button type="button" class="/gingerale">Gingerale</button> </p>
    <p> <button type="button" class="/crabcakes">Crab Cake</button> </p>

</div>
</html>