<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GingerAle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="newcss.css"/>
</head>
<div class="page-header">
    <h1 class="text-center">Ginger Ale Recipie<small></small></h1>
</div>
<div class="container">
        <img src="../static/gingerale.jpeg" height="334" width="800"/>
</div>
<table width="50%" cellspacing="2" cellpadding="2" border="1" align="center" >
    <Caption>Ginger Ale Ingredients table</Caption>
    <tr> <th width="20%" height="40">Ingredients</th></tr>
    <tr> <td  width="20%" height="40">A 1-2 inch piece of fresh ginger root, minced. Adjust this to taste. I use 2 inches as I prefer a stronger ginger taste</td></tr>
    <tr> <td  width="20%" height="40">1/2 cup of organic sugar or rapadura sugar. if using plain sugar, add 1 tablespoon molasses for flavor and minerals</td></tr>
    <tr> <td  width="20%" height="40">1/2 cup fresh lemon or lime juice</td></tr>
    <tr> <td  width="20%" height="40">1/2 tsp sea salt or himalayan salt</td></tr>
    <tr> <td  width="20%" height="40">8 cups of filtered (chlorine free) water</td></tr>
    <tr> <td  width="20%" height="40">1/2 cup homemade ginger bug (or can use 1/4 cup whey for a faster recipe though the flavor won't be quite as good</td></tr>

</table>
<div class="container">

    <div class="bs-callout bs-callout-info">
        <h2> Directions</h2>
        <p> Carefully simmering fresh ginger in water for a good, long while is the key to deep, rounded flavor. Once you have the ginger syrup on hand, a hankering for ginger ale can be satisfied practically instantly (the drink's trademark fizz comes from seltzer).
        </p>
    </div>
</div>
<div class="container">
    <div class="bs-callout bs-callout-info">
        <h2> Make Syrup</h2>

        <p>
            Cook ginger in water in a small saucepan at a low simmer, partially covered, 45 minutes. Remove from heat and let steep, covered, 20 minutes.
            Strain mixture through a sieve into a bowl, pressing on ginger and then discarding. Return liquid to saucepan and add sugar and a pinch of salt, then heat over medium heat, stirring, until sugar has dissolved. Chill syrup in a covered jar until cold.
        </p>
    </div>
</div>
<div class="container">

    <div class="bs-callout bs-callout-info">
        <h2> Assemble drinks</h2>
        <p> Mix ginger syrup with seltzer and lime juice (start with 1/4 cup syrup and 1 1/2 teaspoons lime juice per 3/4 cup seltzer, then adjust to taste).
        </p>
    </div>
</div>
<div class="btn-group" role="group" aria-label="...">
    <p> <button type="button" class="/">Home</button> </p>
    <p> <button type="button" class="/crabcakes">Crab Cake</button> </p>
    <p> <button type="button" class="/cornbread">Corn Bread</button> </p>

</div>
</html>